{% extends "base.html.twig" %}
{#  Grâce à extends je fais relier mon fichier article.html.twig à bas.html.twig #}

{% block title %}<h1><div class="row column justify-between align-center" >Ma librairie touristique de Lifou Nelle - Calédonie</div></h1>{% endblock %}


{% block main %}


    <div div class="row column justify-between align-center">

        <img src="{{ article.image }}" alt="Image" class="resp"/>

    </div>

    <h1>{{ article.title }}</h1>
    <h2>{{ article.category.title }}</h2>
    <p div class="row column justify-around align-center">{{ article.content }}</p>



{% endblock main %}