<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<header>

</header>

<body>

{% block main %}

{% for article in articles %}
    <article>
        <h2 style="color: {{ article.category.color }};">{{ article.title }}</h2>
        <p>{{ article.category.title }}</p>
        {% if article.imageFileName %}
            {#
            Avec la fonction asset, je mets en paramètre :
             - le chemin du dossier où mon image a été uploadé,
             - que je concatène grâce à la tildé (pour concaténer avec twig '~')
            #}

            <img src="{{ asset('uploads/articles/' ~ article.imageFileName) }}" alt="">
        {% endif %}
    </article>


{% endfor %}

{% endblock main %}
</body>

</body>
</html>