{% extends "base.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}


{% block main %}


    <img src="{{ article.image }}" alt="Image" class="resp"/>

    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}  </p>



{% endblock main %}









